.containers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #191921;
    color: white;
  }
  
  .titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }
  
  .titles  {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .title  {
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  .servicess {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 90px;
  }
  
  .service {
    background-color:#181920 ;
    border-radius: 10px;
    padding: 30px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
  }
  
  .service:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .icon {
    width: 60px;
    height: 60px;
    background-color: #484848;
    border-radius: 50%;
    margin-bottom: 20px;
  }

  h3{
    text-align: left;
    padding: 10px;
  }

  .service h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .service ul {
    list-style-type:circle;
    padding: 0;
    margin-bottom: 20px;
  }
  
  .service li {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  h5 {
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    padding-left: 20px;
    margin-bottom: 10px;
    color: #888;
}
h1 {
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  padding-left: 20px;
  color: white;
  margin: 0;
  margin-bottom: 20px;
}