.hero-section {
    display: flex;
    align-items: left;
    background-color: #1e1e1e;
    color: #fff;
    padding: 40px;
    text-align: left;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.content h5 {
    font-size: 14px;
    font-weight: 300;
    padding-left: 20px;
    margin-bottom: 10px;
    color: #888;
}

.content h1 {
    font-size: 40px;
    font-weight: 400;
    padding-left: 20px;
    color: antiquewhite;
    margin: 0;
    margin-bottom: 20px;
}

.content p {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
    margin-bottom: 20px;
    padding-left: 20px;
    max-width: 800px;
    overflow: hidden;
}


.services {
 font-size: 24px;
font-weight: bold;
position: relative;
    animation: moveText 5s linear infinite;
    display: flex;
 gap: 10px;
    margin-top: 20px;
}

.services  {
    background-color: #6a5acd;
    background-size: contain;
    padding: 12px 12px;
    color: #100f15;
    font-size: 14px;
}

ul{
    display: flex;
    justify-content: space-between;
    align-items: center;    width: 100%;
    margin: 0px;
}

li{
    font-weight: lighter;
    font-size: large;
    margin: 0px;
}

@keyframes moveText {
    0% {
        left: -100%;
    }
    100% {
        left: 100%;
    }
}
